h1 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.title {
    margin: 50px;
    width: 30%;
}

.questions {
    margin: 50px;
    font-weight: 600;
    width: 70%;
}

.fortune-display {
    border: groove grey 2px;
    height: 200px;
    margin: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}